<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project activeEnvironment="Default" name="OpenSkye" resourceRoot="" soapui-version="4.6.1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:endpointStrategy xsi:type="con:DefaultEndpointStrategy" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <con:endpoint mode="COMPLEMENT" username="admin@openskye.org" password="changeme">http://atpblade04.infobelt.com:5000/api/1/account</con:endpoint>
  </con:endpointStrategy>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>userApiKey</con:name>
      <con:value>123</con:value>
    </con:property>
    <con:property>
      <con:name>userEmail</con:name>
      <con:value>admin@openskye.org</con:value>
    </con:property>
    <con:property>
      <con:name>userId</con:name>
      <con:value>7b1164f1-eb65-4892-8f01-0ff692801b87</con:value>
    </con:property>
    <con:property>
      <con:name>userName</con:name>
      <con:value>Skye Admin</con:value>
    </con:property>
    <con:property>
      <con:name>version</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>newUserId</con:name>
      <con:value>4168b70b-c9c0-4280-b386-fd49eeda242c</con:value>
    </con:property>
    <con:property>
      <con:name>userDomain</con:name>
      <con:value>a9df0d11-b01f-40ad-9e39-4e1464c35862</con:value>
    </con:property>
    <con:property>
      <con:name>apiAddress</con:name>
      <con:value>localhost</con:value>
    </con:property>
    <con:property>
      <con:name>skyeDomain</con:name>
      <con:value>a4330706-f0e9-4ac7-9dc9-7321e21704ac</con:value>
    </con:property>
    <con:property>
      <con:name>skyeDomainName</con:name>
      <con:value>Skye</con:value>
    </con:property>
    <con:property>
      <con:name>testDomainName</con:name>
      <con:value>Test Domain</con:value>
    </con:property>
    <con:property>
      <con:name>testDomainId</con:name>
      <con:value>2d84739c-e78b-4f1d-9471-d845bb555ab4</con:value>
    </con:property>
    <con:property>
      <con:name>testDomainNameUpdate</con:name>
      <con:value>Edited Domain</con:value>
    </con:property>
    <con:property>
      <con:name>newUserName</con:name>
      <con:value>Test User</con:value>
    </con:property>
    <con:property>
      <con:name>newUserEmail</con:name>
      <con:value>testUser@openskye.org</con:value>
    </con:property>
    <con:property>
      <con:name>userDomainName</con:name>
      <con:value>Skye</con:value>
    </con:property>
    <con:property>
      <con:name>newUserRoleName</con:name>
      <con:value>testUserRole</con:value>
    </con:property>
    <con:property>
      <con:name>newRoleId</con:name>
      <con:value>0f4322cd-0197-4c58-92b6-8f7ff52c9368</con:value>
    </con:property>
    <con:property>
      <con:name>newUserRoleId</con:name>
      <con:value>dc1ea240-0368-4ecd-a938-c26ab46150ac</con:value>
    </con:property>
    <con:property>
      <con:name>newUserRoleNameUpdate</con:name>
      <con:value>editedUserRole</con:value>
    </con:property>
    <con:property>
      <con:name>adminRoleId</con:name>
      <con:value>af7785a5-dbd5-4e82-8e61-86f74107dcdb</con:value>
    </con:property>
    <con:property>
      <con:name>ArchiveStoreInstanceid</con:name>
      <con:value>95d03b99-bff9-488d-a6e5-ea94a496dbb0</con:value>
    </con:property>
    <con:property>
      <con:name>ArchiveStoreInstancename</con:name>
      <con:value>test</con:value>
    </con:property>
    <con:property>
      <con:name>ArchiveStoreInstanceimplementation</con:name>
      <con:value>example</con:value>
    </con:property>
    <con:property>
      <con:name>newUserEmailUpdate</con:name>
      <con:value>editedUser@openskye.org</con:value>
    </con:property>
    <con:property>
      <con:name>newUserNameUpdate</con:name>
      <con:value>Edited User</con:value>
    </con:property>
    <con:property>
      <con:name>newPermissionName</con:name>
      <con:value>Test Permission</con:value>
    </con:property>
    <con:property>
      <con:name>newPermissionId</con:name>
      <con:value>f4ae63a9-cc04-4be2-87a5-8a8ce6582c76</con:value>
    </con:property>
    <con:property>
      <con:name>newPermissionNameUpdate</con:name>
      <con:value>Edited Permission</con:value>
    </con:property>
    <con:property>
      <con:name>newRolePermissionId</con:name>
      <con:value>0aa99157-5a62-4118-aa26-1779c3ef9ca2</con:value>
    </con:property>
    <con:property>
      <con:name>ProjectId</con:name>
      <con:value>a4607243-3021-44d2-a978-3172cf9c8690</con:value>
    </con:property>
    <con:property>
      <con:name>ProjectDomainId</con:name>
      <con:value>a4330706-f0e9-4ac7-9dc9-7321e21704ac</con:value>
    </con:property>
    <con:property>
      <con:name>ArchiveStoreDefinitionId</con:name>
      <con:value>df847b73-e56e-411b-83f9-5720c510000d</con:value>
    </con:property>
    <con:property>
      <con:name>newMetadataId</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>newMetadataPath</con:name>
      <con:value>/tmp/metadata</con:value>
    </con:property>
    <con:property>
      <con:name>newMetadataImplementation</con:name>
      <con:value>implementation</con:value>
    </con:property>
    <con:property>
      <con:name>newMetadataTaskId</con:name>
      <con:value>taskId</con:value>
    </con:property>
    <con:property>
      <con:name>newMetadataContainer</con:name>
      <con:value>false</con:value>
    </con:property>
    <con:property>
      <con:name>newMetadataMime</con:name>
      <con:value>text/csv</con:value>
    </con:property>
    <con:property>
      <con:name>newMetadataChecksum</con:name>
      <con:value>checksum</con:value>
    </con:property>
    <con:property>
      <con:name>newMetadataIsdId</con:name>
      <con:value>isdId</con:value>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:sensitiveInformation/>
</con:soapui-project>