<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project activeEnvironment="Default" name="OpenSkye" resourceRoot="" soapui-version="4.6.1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
  </con:settings>
  <con:endpointStrategy xsi:type="con:DefaultEndpointStrategy" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <con:endpoint mode="COMPLEMENT" username="admin@openskye.org" password="changeme">http://atpblade04.infobelt.com:5000/api/1/account</con:endpoint>
  </con:endpointStrategy>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>userApiKey</con:name>
      <con:value>123</con:value>
    </con:property>
    <con:property>
      <con:name>userEmail</con:name>
      <con:value>admin@openskye.org</con:value>
    </con:property>
    <con:property>
      <con:name>userId</con:name>
      <con:value>7d027b65-b266-4c58-a1a7-22a138258373</con:value>
    </con:property>
    <con:property>
      <con:name>userName</con:name>
      <con:value>Skye Admin</con:value>
    </con:property>
    <con:property>
      <con:name>version</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>newUserId</con:name>
      <con:value>2e01e586-9296-4184-abb4-1fa2963aecf7</con:value>
    </con:property>
    <con:property>
      <con:name>userDomain</con:name>
      <con:value>315eb01d-5a23-46b7-948e-20081449e0ba</con:value>
    </con:property>
    <con:property>
      <con:name>apiAddress</con:name>
      <con:value>localhost</con:value>
    </con:property>
    <con:property>
      <con:name>skyeDomain</con:name>
      <con:value>315eb01d-5a23-46b7-948e-20081449e0ba</con:value>
    </con:property>
    <con:property>
      <con:name>skyeDomainName</con:name>
      <con:value>Skye</con:value>
    </con:property>
    <con:property>
      <con:name>testDomainName</con:name>
      <con:value>Test Domain</con:value>
    </con:property>
    <con:property>
      <con:name>testDomainId</con:name>
      <con:value>b8647e25-eba4-4fcf-bf0c-67c6712856f9</con:value>
    </con:property>
    <con:property>
      <con:name>testDomainNameUpdate</con:name>
      <con:value>Edited Domain</con:value>
    </con:property>
    <con:property>
      <con:name>newUserName</con:name>
      <con:value>Test User</con:value>
    </con:property>
    <con:property>
      <con:name>newUserEmail</con:name>
      <con:value>testUser@openskye.org</con:value>
    </con:property>
    <con:property>
      <con:name>userDomainName</con:name>
      <con:value>Skye</con:value>
    </con:property>
    <con:property>
      <con:name>newUserRoleName</con:name>
      <con:value>testUserRole</con:value>
    </con:property>
    <con:property>
      <con:name>newRoleId</con:name>
      <con:value>06b1870e-97a6-446c-aacb-34ce1d6c19a7</con:value>
    </con:property>
    <con:property>
      <con:name>newUserRoleId</con:name>
      <con:value>d71b9aff-c895-4cc6-b75e-4a08a44cad6c</con:value>
    </con:property>
    <con:property>
      <con:name>newUserRoleNameUpdate</con:name>
      <con:value>editedUserRole</con:value>
    </con:property>
    <con:property>
      <con:name>adminRoleId</con:name>
      <con:value>f15d42f6-6ea8-4431-b74d-288379fe0ab0</con:value>
    </con:property>
    <con:property>
      <con:name>ArchiveStoreInstanceid</con:name>
      <con:value>a39cb2fc-85f4-4ebe-8255-32de70be3b0a</con:value>
    </con:property>
    <con:property>
      <con:name>ArchiveStoreInstancename</con:name>
      <con:value>test</con:value>
    </con:property>
    <con:property>
      <con:name>ArchiveStoreInstanceimplementation</con:name>
      <con:value>example</con:value>
    </con:property>
    <con:property>
      <con:name>newUserEmailUpdate</con:name>
      <con:value>editedUser@openskye.org</con:value>
    </con:property>
    <con:property>
      <con:name>newUserNameUpdate</con:name>
      <con:value>Edited User</con:value>
    </con:property>
    <con:property>
      <con:name>newPermissionName</con:name>
      <con:value>Test Permission</con:value>
    </con:property>
    <con:property>
      <con:name>newPermissionId</con:name>
      <con:value>9bad88bd-4e94-406b-8f63-471b6ad9d1c0</con:value>
    </con:property>
    <con:property>
      <con:name>newPermissionNameUpdate</con:name>
      <con:value>Edited Permission</con:value>
    </con:property>
    <con:property>
      <con:name>newRolePermissionId</con:name>
      <con:value>67207171-6d8d-4e91-96ce-9d98dfc3b558</con:value>
    </con:property>
    <con:property>
      <con:name>ProjectId</con:name>
      <con:value>9d27a4d6-8e61-4ddd-b673-6947b2c2e41c</con:value>
    </con:property>
    <con:property>
      <con:name>ProjectDomainId</con:name>
      <con:value>315eb01d-5a23-46b7-948e-20081449e0ba</con:value>
    </con:property>
    <con:property>
      <con:name>ArchiveStoreDefinitionId</con:name>
      <con:value>c1831c90-4ecb-4446-959a-629f877adb57</con:value>
    </con:property>
  </con:properties>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:sensitiveInformation/>
</con:soapui-project>